.item{
    padding: 6px 10px 6px 10px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    
}
.icon{
    margin-right: 0.5rem;
    margin-top: 6px;
    justify-content: center;
    display: flex;
}
.span {
    justify-content: center;
    display: flex;
    margin-top: 2px;
    font-size: 11px !important;
}